/* seletor universal */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

header {
  height: 80px;
  border-bottom: 1px solid #CCC;
}

header img {
  margin-top: 10px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

article {
  padding: 12px;
  border: 1px solid #2196F3;
  width: 380px;
}

article > h2{
  background-color: #2196F3;
  color: #FFF;
  text-align: center;
  line-height: 3;
  margin: -12px;
  margin-bottom: 0;
}